<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Signin demo</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="{{ GOOGLE_CLIENT_ID }}">
</head>

<body>

    <h2>Google Sign in</h2>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" onclick="signOut();">Sign out</a>
    
    {{!-- <img src="http://localhost:3000/images/users/5d957828174a6523d897304d-768.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InJvbGUiOiJBRE1JTl9ST0xFIiwiZ29vZ2xlIjpmYWxzZSwiYWN0aXZlIjp0cnVlLCJfaWQiOiI1ZDk1NzgyODE3NGE2NTIzZDg5NzMwNGQiLCJuYW1lIjoiVGVzdCAxIiwiZW1haWwiOiJ0ZXN0MUBnbWFpbC5jb20iLCJfX3YiOjB9LCJpYXQiOjE1NzA4NTA1NjIsImV4cCI6MTU3MDkzNjk2Mn0.xcL5m00ESrwGfL5RKwygCLQSgIPb5-YoA4fBrRtp5xQ" alt=""> --}}

    <script>
        
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var id_token = googleUser.getAuthResponse().id_token;
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            //console.log(id_token);
            
            fetch('/google', {
                method: 'POST',
                body: JSON.stringify({id_token}),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(err => console.log(err))
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }

    </script>
</body>

</html>